.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 1px solid black;
}

.posts {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    border: 1px solid black;
}